header {
    background-color: #ffd461;
    padding-left: 20px;
    margin-bottom: 20px;
}

body {
    margin: 30px;
    background-color:chocolate;
    margin: 0;
    padding: 0;
}

.menu{

    font-family: sans-serif;
    margin: 10px;
    display: inline;
    
}

#redes-sociais{
    display: inline;
    font-family: sans-serif;
    
}

footer{
    padding: 4px;
    height:60px;
    bottom: 0;
    background-color: #ffd461;
    clear: both;
    position: fixed;
    width: 100%;
}
table{
    font-family: sans-serif;
    margin-bottom: 10px;
    background-color: chocolate;
    margin-left: 10px;
}

h2{
    margin-left: 20px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
}

.descrição{
    font-family: sans-serif;
    margin-top: 20px;
}

li{
    margin: 20px;
    font-family: sans-serif;
    padding: 2px; 
    width: 50px; 
}

th{
    margin: 200px;
    background-color: #ffd461;
}
.redes-sociais{
    display: inline;
}

td{
    background-color: #ffd461;
    padding: 50px;
}

label{
    font-family: sans-serif;
    
}

p{
    margin: 10px;
}

.foto{
    margin-left: 20px;
    margin-top: 20px;
}

button{
   margin: 5px 0 0 20px;
   background-color: #ffd461;

}

input{
    margin: 5px;
}

.vendas{
    margin-left: 20px;
}

.add-produto{
    margin-left: 20px;
}
